
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  /* background: #111; */
  /* color: #fff; */
  padding: 2rem 1rem;
  text-align: center;
}

span {
  color: #2949e5;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.1rem;
  /* color: #ccc; */
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}

.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.benefit {
  background: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.benefit h3 {
  margin-top: 0;
  color: #111;
}

.cta {
  margin-top: 3rem;
  text-align: center;
}

.cta button {
  background: #ff6600;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta button:hover {
  background: #e65500;
}

.proof {
  /* background: #fff;
border: 1px solid #ddd; */
  background-color: #fff3cd; /* Light yellow */
  border: 1px solid #ffeeba;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 8px;
}

.proof p {
  display: flex;
  align-items: center;

  gap: 5px;
  /* justify-content: center; */
}

footer {
  text-align: center;
  font-family: Arial, sans-serif;
}

footer p {
  margin: 0 0 10px;
  color: #666;
  font-size: 14px;
}

footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

footer nav ul li a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  transition: color 0.3s;
}

footer nav ul li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

iframe {
  width: 890px;
  height: 501px;
  border-radius: 8px;
  /* border: 2px dashed #252525; */
}

#article,
#article2,
#nav {
  display: none;
}


.cta-button1 {
  padding: 15px 30px;
  font-size: 19px;
  border-radius: 10px;
  /* border-radius: 40px; */
  /* background: linear-gradient(135deg, #48ff00, #E100FF); */
  /* background-color: #2949e5; */
  /* background-color: #4169e1;
       */
  background-color: #2949e5;
  color: white;
  border: none;
  cursor: not-allowed;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-weight: 900;
  /* text-decoration: underline; */
}

.cta-button1:hover {
  /* background: linear-gradient(135deg, #6c00d8, #bf00d8); */
  /* background-color: #c00303; */
  /* background-color: #2d58da; */
  background-color: #0505aa;
  transition: transform 0.2s ease;
}

.cta-button {
  padding: 15px 30px;
  font-size: 19px;
  border-radius: 10px;
  /* border-radius: 40px; */
  /* background: linear-gradient(135deg, #48ff00, #E100FF); */
  /* background-color: #2949e5; */
  /* background-color: #4169e1; */
  background-color: #2949e5;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-weight: 900;
  /* text-decoration: underline; */
}

.cta-button:hover {
  /* background: linear-gradient(135deg, #6c00d8, #bf00d8); */
  /* background-color: #c00303; */
  /* background-color: #2d58da; */
  background-color: #0505aa;
  transition: transform 0.2s ease;
}

.card-btn {
  text-align: center;
  margin-bottom: 20px;
}

.wistia_embed {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 890px;
  margin: auto;
}
wistia-player[media-id="g1kh8kg6bp"]:not(:defined) {
  background: center / contain no-repeat
    url("https://fast.wistia.com/embed/medias/g1kh8kg6bp/swatch");
  display: block;
  filter: blur(5px);
  padding-top: 56.25%;
}
*/ .responsive-wistia .wistia_embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#countdown,
#countdownb {
  font-weight: 100 !important;
  background-color: #ffff00;
  padding: 5px;
}

.disclaimer {
  margin: 13px;
  color: #111;
}

.depoimentos {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.depoimentos h2 {
  margin-bottom: 40px;
  color: #333;
}

.depoimentos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.print {
  /* flex: 1 1 300px; */
  width: 250px;
  /* max-width: 320px; */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: transform 0.3s ease;
}

.print:hover {
  transform: scale(1.03);
}

.print img {
  width: 100%;
  height: auto;
  display: block;
}


@media (max-width: 768px) {
  header h1 {
    font-size: 1.4rem;
  }
  .copy{
    text-align: center;
  }
  /* .cta-button,
  .cta-button1 {
    font-size: 0.9rem;
    padding: 12px 20px;
  } */

  .benefits {
    grid-template-columns: 1fr;
  }

  .print img {
    width: 90%;
  }

  .wistia_embed {
    aspect-ratio: 16 / 9;
  }
  .ft {
    width: 300px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.2rem;
  }

  header p {
    font-size: 0.95rem;
  }

  .copy{
    text-align: center;
  }

  /* .cta-button,
  .cta-button1 {
    font-size: 0.85rem;
    padding: 10px 15px;
  } */

  .benefits {
    gap: 15px;
  }

  .print img {
    width: 100%;
  }

  .ft {
    width: 250px;
  }
}