<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.min.css" rel="stylesheet">
    <title>Canceled</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            font-family: Arial, sans-serif;
            cursor: default;
        }
        .main{
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 20px;
        }
        .main h1{
            margin-bottom: 20px;
        }
        @media screen and (max-width: 767px) {
            .main{
                text-align: center;
            }
        }
    </style>
</head>
<body>
    <main class="main">
        <h1><i class="ri-close-circle-line"></i> The payment was canceled.</h1>  
        <p>Please try again or contact us for support.</p>
    </main>



    
<!-- Here’s a professional copyright notice for your Node.js code:

    This Node.js code is protected by copyright laws. 
Unauthorized reproduction, distribution, or modification 
of this code, in whole or in part, without explicit 
permission from the owner is strictly prohibited. 

All rights reserved." -->

</body>
</html>