<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.min.css" rel="stylesheet">
    <title>Success</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            word-break: break-all;
        }

        body{
            font-family: Arial, sans-serif;
            cursor: default;
        }
        .main{
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 20px;
        }
        .main h1{
            margin-bottom: 20px;
        }

        .icon-a{
            font-size: 44px;
            color: #00ff00;
        }
        .icon-b{
            font-size: 23px;
        }
        @media screen and (max-width: 767px) {
            .main{
                text-align: center;
            }
        }
    </style>

    <!-- tag Google ads -->

    <!-- Event snippet for Leao conversion page -->
    <!-- <script>
        gtag('event', 'conversion', {
        'send_to': 'AW-11222153380/gggzAedAdgsAdddsas',
        'value': 0.0,  // Substitua pelo valor real da transação
        'currency': 'USD',  // Substitua pela moeda correta, se necessário
        'transaction_id': ''  // Se tiver um ID de transação, insira aqui
        });
    </script> -->
    

</head>
<body>

    <main class="main">
        <i class="ri-checkbox-circle-line icon-a"></i>
        <h1>Thank you for your purchase!</h1>
        <p><i class="ri-mail-unread-line icon-b"></i> Check your email to download the code and the eBook.</p>    
    </main>

    


<!-- Here’s a professional copyright notice for your Node.js code:

    This Node.js code is protected by copyright laws. 
Unauthorized reproduction, distribution, or modification 
of this code, in whole or in part, without explicit 
permission from the owner is strictly prohibited. 

All rights reserved." -->

</body>
</html>